/* Changelog Styles */

#changelog hr {
    height: 2px;
    background-color: black;
    margin: 6.4rem 0;
    margin-left: -3.2rem;
}
#changelog h2 {
    font-family: monospace;
    font-size: 1.92rem;
    color: var( --accent );
    background-color: var( --primary );
    margin: 3.2rem 0 0.8rem;
    padding: 0.32rem 0.8rem 0.48rem;
}
#changelog h3 {
    margin-left: 3.2rem;
}
#changelog ul {
    margin-left: 3.2rem;
}
#changelog > ul {
    margin-left: 6.4rem;
    margin-bottom: 1.6rem;
}
